.navbar {
    display: flex;
    justify-content: center;
    background-color: #333; /* Cor de fundo */
    padding: 10px 20px;
  }
  
  .navbar-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar-item {
    margin: 0 15px;
  }
  
  .navbar-item a {
    text-decoration: none;
    color: white; /* Cor do texto */
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .navbar-item a:hover {
    color: #ff9800; /* Cor ao passar o mouse */
  }
  
  .navbar-item .active {
    color: #ff9800; /* Cor para o item ativo */
    border-bottom: 2px solid #ff9800; /* Linha inferior para o item ativo */
  }
  